*{
    box-sizing: border-box;
}

body{
    transition: 0.2s;
}

.backgroundModifier{
    background-color: blue;
}

li{
    cursor: pointer;
    margin: 1vw;
}

.mainBox{
    height: calc(100vh - 88px);
}

.modifierContainer h1{
    color: white;
}

.btn{
    background-color: none;
    color: white;
    border: 2px solid white;
}

.btn:hover{
    color: white;
}

